<!DOCTYPE html>


<html>
    <head>
        <title>Tienda</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header>
            <aside>
                <h1> Mis autos</h1>
                <p> Los autos que en mi subconsiente llevo todos los dias..</p>
            </aside>
            <section> 
                <h2>Lunes</h2>
                <img src="https://m.media-amazon.com/images/I/71rkrMA+oZS._AC_SL1500_.jpg" width="300" alt="Optimus Prime"/>
                <h2>Martes</h2>
                <img src="https://m.media-amazon.com/images/I/71VdZHpsOxL._AC_SL1500_.jpg" width="300" alt="Optimus Prime"/>

            </section>

        </header>

    </body>
</html>
